.invalid-field.svelte-1oipm1e {
	margin: 10px;
	color: #b71c1cff;
}
.dialog-divider.svelte-1oipm1e {
	margin: 2px 0;
	border-bottom: 1px solid #bfbfbf;
}
.container.svelte-u4xay1.mdc-card {
	padding: 20px;
}
.table-container.svelte-u4xay1 {
	max-height: 75vh;
	overflow-y: auto;
}
.divider.svelte-u4xay1 {
	margin: 16px 0;
	border-bottom: 1px solid #bfbfbf;
}
