.full-screen-size.svelte-10oxyio {
	min-height: 80vh;
	position: relative;
}
.divider.svelte-10oxyio {
	margin: 0 4px;
	border-left: 1px solid white;
	height: 35px;
}
.bottom-app-margin.svelte-10oxyio .smui-bottom-app-bar > .smui-bottom-app-bar__section {
	padding: 13px;
}
.user-image-size.svelte-10oxyio {
	height: 70px;
}
.google-logo.svelte-10oxyio {
	width: 25px;
	margin-right: 10px;
}
.center.svelte-10oxyio {
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
}
p.svelte-10oxyio {
	color: #ffffff;
}
h1.svelte-10oxyio {
	color: #ffffff;
	font-size: 32px;
}
.login.svelte-10oxyio {
	border-radius: 30px;
	background-color: #130f42;
	width: 410px;
	padding: 30px;
}
